.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  
  .burger-menu__inner {
    padding: 18px 23px 0px 12px;

    .nav-menu {
      width: 100%;
      margin-bottom: 24px;
    }

    .nav-menu__inner {
      max-width: 342px;
      margin: 0 auto;
    }

    .burger-menu__name {
      display: $flex;
      align-items: $alItems;
      justify-content: space-between;
      margin-bottom: 42px;
    }


    .nav-menu__list {
      margin-bottom: 23px;
    }

    .nav-menu__name-item {
      display: inline-flex;
      align-items: $alItems;
      width: 100%;
      justify-content: space-between;
      font-weight: 600;
    }

    .nav-menu__name-item:hover {
      font-weight: 700;
    }
  }

  .decor-line {
    width: 100%;
    height: 1px;
    background: #C1C1C1;
  }
}
