@media (max-width: 480px) {
  .wrapper-up .header__menu-content {
    margin-left: 56px;
  }

  .wrapper-up .header__menu-content .header__menu-burger-btn {
    margin-right: 17px;
  }

  .header__logo-item {
    margin-right: 11px;
  }
}

@media (max-width: 380px) {
  .header__logo-images {
    width: 80%;
  }

  .spec-offer__inner .spec-offer__name {
    text-align: center;
  }

  .wrapper-up .header__menu-content {
    margin-left: 14px;
  }

  .spec-offer__inner .spec-offer__advertisings-inner .spec-offer__advertising-section .spec-offer__advertising-reviewson {
    font-size: 6px;
  }

  .spec-offer__inner .spec-offer__advertisings-inner .spec-offer__advertising-section:last-child {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }

  .shop__inner .shop__sponsors .shop__sponsors-name {
    font-size: 16px;
    text-align: left;
  }

  .shop__inner .shop__sponsors .shop__sponsors-name::after {
    left: 94%;
  }

}